 /* FOOTER */
 .site-footer
 {
   background-color:#23272f;
   padding:45px 0 20px;
   font-size:15px;
   line-height:24px;
   color:#9e9e9e;
   font-family: 'Noto Sans', sans-serif;
 
 }
 
 .buyon .text-roadmap {
   padding-top:0px;
 }
 
 .linkspore {
   color:white !important;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 900;
   text-decoration: none;
 
 }
 .site-footer hr
 {
   border-top-color:#bbb;
   opacity:0.5
 }
 .site-footer hr.small
 {
   margin:20px 0
 }
 .site-footer h6
 {
   color:#fff;
   font-size:16px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px;
   font-family: 'Noto Sans', sans-serif;
   
 }
 .site-footer a
 {
   color:#9e9e9e;
   font-family: 'Noto Sans', sans-serif;
 }
 .site-footer a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links
 {
   padding-left:0;
   list-style:none;
 }
 .footer-links li
 {
   display:block;
 }
 .footer-links a
 {
   color:#9e9e9e;
   text-decoration: none;
   font-family: 'Noto Sans', sans-serif;
   
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#ffffff;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block;
 }
 .copyright-text
 {
   color:white;
   margin:0;
 }
 @media (max-width:991px)
 {
   .site-footer [class^=col-]
   {
     margin-bottom:30px
   }
 }
 @media (max-width:767px)
 {
   .site-footer
   {
     padding-bottom:0
   }
 }

 /* END OF FOOTER */