.navbar  {
  padding-top:10px !important;
  padding-bottom:10px !important;
  z-index: 5;
  background-color: #0f1841 !important;
}

.navbar-toggler .fa-bars {
color: white;
font-size: 25px;
}
.navbar-toggler-icon{
  color: white !important;
}

.offcanvas-body {
  background-color: #0f1841 ;
  border: none;
}

.offcanvas {
  width:300px;
}

.offcanvas-header {
  background-color: #0f1841 ;
  border: none;
}

.dropdown-menu {
  background-color:#008a81 !important;
  
}

.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  color:white !important;
 font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
  color:white !important;
  background-color: #42b4ad !important;
}

.nav-link {
  color:white !important;
 font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color:#66e0d8 !important;
}

.btn-primary.claimair {
  margin-left:15px !important;
  background:#008a81;
  color: white;
  border: none;
  outline: none;
  border-radius: 50px !important;
  padding-left: 35px !important;
  padding-right:35px !important;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  text-shadow: 1px 2px 2px #006861;
}

.btn-primary.claimair:hover {
  background: #65faf0;
  border: none;
  outline: none;
  text-shadow: none;
  color: #017971;
}

/* MODAL */
.modal-title {

  color:white !important;
}

.modal-body {
  background-color: hsl(222, 17%, 12%) !important;
}

.modal-header {
  background-color: #0f1841 !important;
  border-color:#0f1841 !important;
  text-align: center !important;
}

.modal-title {
  text-align: center !important;
  margin: auto !important;
  width: 100%;
}

.modal-title img {
  margin-left: 10px !important;
}
.modal-title .binancelogo {
  margin-right: 10px !important;
}

.modal-footer {
  background-color: #0f1841 !important;
  border-color:#0f1841 !important;
}

.close-modal {
  color:white !important;
  font-size: 25px;
  padding-right: 20px;
  background: none;
  outline: none;
  border: none;
}

.modal-footer .btn.btn-primary.claimair.m-air {
  margin-right: 20px !important;
}
/* END MODAL */
