/* OUR TEAM */
.our-team {
  width: 100%;
  padding-top: 30px !important;
  padding-bottom:30px !important;
  background-color: #1f232b !important;
}

.card {
  position: relative;
}

.card-img-top {
  position: relative;
  z-index: 4;
}

.our-team .col-sm-3 {
  margin-bottom: 30px !important;
}

.our-team .card {
  background-color: #292e38 !important;
  border-radius: 10px !important;
  overflow: hidden;
}

.btn-secondary.githubbutton {
background-color: #6c757d !important;
border-color: #6c757d !important;
}

.btn-secondary.githubbutton:hover {
  background-color: #c7cbcf !important;
  border-color: #c7cbcf !important;
  }
  

.our-team .card .card-body {
  background-color: #292e38 !important;
  border-radius: 10px !important;
}

.our-team .card-title {
  color:white !important;
}

.our-team .card-text{
  color:rgb(139, 139, 139) !important;
}

/* END OUR TEAM */



.contributor-style img{
  width: 2em;
}

.contributor-style a{
  text-decoration: none;
  color: #6B4E3B;
  font-size: 2em;
}
.contributor-style{
  display: inline-block;
  margin: 1em;
}

.card-img-top {
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}